{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
    <div class="p-5 m-4 bg-body-tertiary rounded-3">
        <h1 class="display-5 fw-bold">Coinbank</h1>
        <p class="fs-4">
            {{'Take your first step into the exciting world of cryptocurrencies. Buy, sell, and trade digital assets effortlessly, with cutting-edge tools and real-time market data at your fingertips. Whether you\'re a seasoned trader or just starting out, we\'ve got everything you need to master the crypto market.'|trans}}
        </p>
        <a href="{{path("app_register")}}" class="btn btn-primary">{{'Get started now'|trans}}</a>
    </div>
{% endblock %}
