.CB-form-container {
    @include media-breakpoint-up(sm) {
        max-width: 500px;
        border-radius: 8px;
    }
    @extend .mx-auto;
    @extend .my-sm-5;
    @extend .p-3;
    @extend .bg-light;
}

#CB-register-form {
    &.was-validated {
        .CB-checkpassword-condition:not(.text-success) {
            @extend .text-danger;
        }
    }
}

#CB-bank-form {
    .CB-deposit-icon-wrapper svg {
        transform: rotate(90deg);
    }
}
