.CB-form-small {
    @include media-breakpoint-up(md) {
        max-width: 500px;
    }
}

.CB-form-container {
    @extend .CB-form-small;
    @include media-breakpoint-up(md) {
        border-radius: 8px;
    }
    @extend .mx-auto;
    @extend .my-md-5;
    @extend .p-3;
    @extend .bg-light;
}

#CB-register-form {
    &.was-validated {
        .CB-checkpassword-condition:not(.text-success) {
            @extend .text-danger;
        }
    }
}

.CB-deposit-icon-wrapper svg {
    transform: rotate(90deg);
}

.CB-form-container-full {
    border: 2px solid $light;
    @extend .rounded;
    @extend .p-2;
    @extend .p-lg-5;
    @extend .bg-light;
}
