@import './bootstrap-custom';
@import './form.scss';

body {
  background: lightblue;
}

.CB-body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.CB-user-navigation-container {
  @include media-breakpoint-down(md) {
    padding: 0;
  }
}

.CB-user-navigation-container-menu {
  @extend .CB-user-navigation-container;
  @extend .px-md-3;
  width: 100%;
  @include media-breakpoint-up(md) {
    max-width: 220px;
  }
}

.CB-user-navigation-container-content {
  @extend .CB-user-navigation-container;
  width: 100%;
}

.CB-user-navigation-desktop {
  @extend .py-3;
  ul {
    list-style: none;
    padding: 0;
    li {
      @extend .mb-3;
      a {
        display: flex;
        align-items: center;
        max-width: 200px;
        @extend .w-100;
        text-align: left;
        text-decoration: none;
        svg {
          margin-right: 1rem;
        }
      }
    }
  }
}

#tradingview_12345 {
  height: 400px;
  @include media-breakpoint-up(lg) {
    height: 600px;
  }
}