{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid container-md px-0">
    <div class="d-flex flex-column flex-md-row">
        <div class="CB-user-navigation-container-menu">
            {% block user_navigation %}
                {{ include('includes/navigation.html.twig', {"selected": selected}) }}
            {% endblock %}
        </div>

        <div class="CB-user-navigation-container-content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}
