{% extends 'user-navigation_base.html.twig' %}

{% block title %}CoinBank - Dashboard{% endblock %}

{% block user_navigation %}
    {% with {"selected": "dashboard"} %}
        {{ parent() }}
    {% endwith %}
{% endblock %}

{% block content %}
    <div class="example-wrapper">
        <h1>Hello {{ controller_name }}! ✅</h1>

        This friendly message is coming from:
        <ul>
            <li>Your controller at <code>/Users/charles/source/CoinBank/src/Controller/UserController.php</code></li>
            <li>Your template at <code>/Users/charles/source/CoinBank/templates/user/index.html.twig</code></li>
        </ul>
    </div>
{% endblock %}